<div class="page-content-wrapper">
    <div class="page-content">
        <section class="table-container">
            <h2>მომხმარებლები</h2>
            <table>
                <tr>
                    <th></th>
                    <th>სახელი</th>
                    <th>გვარი</th>
                    <th>ტელ. ნომ.</th>
                    <th>მეილი</th>
                    <th>კომპანია</th>
                </tr>
                <tr *ngFor="let user of users">
                    <td>
                        <div class="action-buttons">
                            <button class="icon-button">
                                <span class="material-symbols-outlined circular-icon">article</span>
                            </button>
                            <button class="icon-button">
                                <span class="material-symbols-outlined circular-icon">checklist</span>
                            </button>
                        </div>
                    </td>
                    <td>{{user.name}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.companyName}}</td>
                </tr>
            </table>
        </section>
    </div>
</div>