<div class="page-content-wrapper">
    <div class="page-content">
        <h2>პოსტები</h2>
        <div class="table-container">
            <table>
                <tr>
                    <th></th>
                    <th>ავტორი</th>
                    <th class="post-title-column">სათაური</th>
                </tr>
                <tr *ngFor="let post of posts">
                    <td>
                        <div class="action-buttons">
                            <button class="icon-button"><span
                                    class="material-symbols-outlined circular-icon">article_shortcut</span>
                            </button>
                        </div>
                    </td>
                    <td>{{post.authorName}}</td>
                    <td class="post-title-column">{{post.title}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>