<div class="page-content-wrapper">
    <div class="page-content">
        <section class="table-container">
            <h2>ბორბალი</h2>
        </section>
        <section class="table-container">
            <h2>ლიდერბორდი</h2>
            <div class="button-group">
                <button *ngFor="let option of options" [ngClass]="{'active-button': option === selectedOption}"
                    (click)="onOptionClick(option)">
                    {{option}}
                </button>
            </div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>სახელი</th>
                    <th>ადგილი</th>
                    <th>კვირა</th>
                </tr>
                <tr *ngFor="let player of leaderBoard">
                    <td>{{player.customerId}}</td>
                    <td>{{player.loginName}}</td>
                    <td>{{player.place | place}}</td>
                    <td>{{player.week}}</td>
                </tr>
            </table>
        </section>
    </div>
</div>