<div class="page-content-wrapper">
    <div class="page-content">
        <section>
            <h2>ბორბალი</h2>
            <div class="pie-chart">
                <div class="spinner">
                    <div class="pie-circle" #spinner>
                        <div class="pie-center"></div>
                    </div>
                    <div class="pie-arrow">
                        <span class="material-symbols-outlined">line_end_arrow_notch</span>
                    </div>
                </div>

                <div class="input-area">
                    <input type="number" [(ngModel)]="section" name="section" #model="ngModel" min="1" max="10"
                        required>
                    <button class="icon-button" (click)="spinCircle()" [disabled]="model.invalid">
                        <span class="material-symbols-outlined">cycle</span>
                    </button>
                    <p *ngIf="model.invalid && (model.dirty || model.touched) && !model.valid"
                        class="validation-error">
                        აღნიშნული სექტორი ვერ მოიძებნა!
                    </p>
                </div>
            </div>

        </section>
        <section class="table-container">
            <h2>ლიდერბორდი</h2>
            <div class="button-group">
                <button *ngFor="let option of options" [ngClass]="{'active-button': option === selectedOption}"
                    (click)="onOptionClick(option)">
                    {{option}}
                </button>
            </div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>სახელი</th>
                    <th>ადგილი</th>
                    <th>კვირა</th>
                </tr>
                <tr *ngFor="let player of leaderBoard">
                    <td>{{player.customerId}}</td>
                    <td>{{player.loginName}}</td>
                    <td>{{player.place | place}}</td>
                    <td>{{player.week}}</td>
                </tr>
            </table>
        </section>
    </div>
</div>