<ul class="navigation-list">
    <li class="nav-item" routerLink="users" routerLinkActive="active">
        <span class="material-symbols-outlined">group</span>
        <p>მომხმარებლები</p>
    </li>
    <li class="nav-item" routerLink="posts" routerLinkActive="active">
        <span class="material-symbols-outlined">article</span>
        <p>პოსტები</p>
    </li>
    <li class="nav-item" routerLink="promotions" routerLinkActive="active">
        <span class="material-symbols-outlined">rewarded_ads</span>
        <p>აქციები</p>
    </li>
</ul>