* {
  margin: 0;
  padding: 0;
  text-indent: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: default;
}

:root {
  --sidebar-width: 150px;
  --header-height: 80px;
  --footer-height: 30px;
  --background-body: rgb(223, 229, 231);
  --background-active: rgb(12, 125, 150);
  --background-component: rgba(12, 111, 150);
  --background-nth-row: rgb(181, 200, 201);
  --background-active-row: rgb(130, 177, 182);
  --color-general: rgb(1, 16, 22);
  --color-contrast: rgb(226, 246, 246);
  --color-button-active: rgb(141, 78, 6);
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  background-color: var(--background-body);
}

footer,
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--background-component);
  color: var(--color-contrast);
  position: fixed;
  z-index: 1;
}

header {
  height: var(--header-height);
  top: 0;
}

.clock {
  margin-right: 20px;
}

footer {
  bottom: 0;
  height: var(--footer-height);
}

nav {
  position: fixed;
  top: var(--header-height);
  bottom: var(--footer-height);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px 0;
  gap: 20px;
  background-color: var(--background-component);
  color: var(--color-contrast);
  width: var(--sidebar-width);
  z-index: 1;
}

.nav-list {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  transition: 0.25s all ease-in-out;
}

.nav-item.active {
  background-color: var(--background-active);
}

.page-content-wrapper {
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: center;
  top: var(--header-height);
  bottom: var(--footer-height);
  left: var(--sidebar-width);
  right: 0;
  overflow-y: auto;
  padding: 40px 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 700px;
  width: 50%;
  gap: 40px;
}

.title {
  padding: 10px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clicked {
  animation: click-feedback ease-in-out;
}

.material-symbols-outlined.circular-icon {
  border: 2px solid;
  padding: 2px;
  border-radius: 50%;
}

.table-container {
  overflow-x: auto;
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

tr:nth-child(even) {
  background-color: var(--background-nth-row);
}

tr:hover {
  background-color: var(--background-active-row);
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  cursor: default;
}

th {
  background-color: var(--background-component);
  color: var(--color-contrast);
  text-align: start;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

button {
  all: unset;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}

.icon-button {
  scale: 0.9;
}

.icon-button:hover {
  scale: 1.05;
  color: var(--color-button-active);
}

h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.post-title-column {
  white-space: wrap;
  width: 100%;
}

.cards-view {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

@keyframes click-feedback {
  50% {
    background-color: var(--background-active);
    color: var(--color-contrast);
  }
}

@media (max-width: 1024px) {
  .page-content-wrapper {
    padding: 20px 0;
  }
  .page-content {
    width: 80%;
    min-width: 320px;
  }
  body {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  :root {
    --sidebar-width: 50px;
  }
  .nav-item > p {
    display: none;
  }
  .post-title-column {
    max-width: 300px;
  }
  body {
    font-size: 14px;
  }
  table,
  th,
  td {
    padding: 6px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .floating-button {
    display: block;
  }
  .post-title-column {
    max-width: 200px;
  }
  table,
  th,
  td {
    padding: 4px;
  }
}
