* {
  margin: 0;
  padding: 0;
  text-indent: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --sidebar-width: 150px;
  --header-height: 80px;
  --footer-height: 30px;
  --background-body: rgb(223, 229, 231);
  --background-active: rgb(12, 125, 150);
  --background-component: rgb(12, 85, 114);
  --color-general: rgb(1, 16, 22);
  --color-contrast: rgb(226, 246, 246);
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--background-body);
}

footer,
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--background-component);
  color: var(--color-contrast);
}

header {
  height: var(--header-height);
}

.clock {
  margin-right: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
}

nav {
  max-width: var(--sidebar-width);
  width: var(--sidebar-width);
  top: var(--header-height);
  bottom: var(--footer-height);
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: fixed;
  padding: 20px 0;
  gap: 20px;
  background-color: var(--background-component);
  color: var(--color-contrast);
}

.nav-item {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  transition: 0.25s all ease-in-out;
}

.nav-item.active {
  background-color: var(--background-active);
  cursor: default;
}

.nav-list {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 40px 10px 40px calc(var(--sidebar-width) + 10px);
  gap: 40px;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 800px;
  width: 50%;
  align-items: center;
}

.title {
  padding: 10px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clicked {
  animation: click-feedback ease-in-out;
}

.material-symbols-outlined {
  border: 2px solid;
  padding: 2px;
  border-radius: 50%;
}

@keyframes click-feedback {
  50% {
    background-color: var(--background-active);
    color: var(--color-contrast);
  }
}

@media (max-width: 1024px) {
  .page-content {
    width: 80%;
    min-width: auto;
  }
}
@media (max-width: 768px) {
  :root {
    --sidebar-width: 50px;
  }
  .nav-item > p {
    display: none;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 0.8rem;
  }
  .clock {
    font-size: 0.8rem;
  }
}
